* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  background-image: linear-gradient(120deg, #12b886, #22b8cf);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3rem, 6vw, 10rem);
  color: #f8f9fa;
  font-weight: 600;
  padding: 0rem 2rem;
}

.clock {
  border: 1rem solid #f8f9fa;
  padding: 4rem;
  border-radius: 4rem;
}
